*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* default CSS styles */

.container{
    width: 80%;
    margin: 0 auto;
}

.primary-btn{
    border: none;
    background: #e55473;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.primary-text{
    font-size: 14px;
    opacity: 0.5;
}


/* banner related styles */

header{
    background-color: #fceef1;
}

section.banner {
    display: flex;
    align-items: center;
    font-size: 45px;
    gap: 80px;
}

.banner-content {
    width: 50%;
}

.banner-img {
    width: 50%;
}

.banner-content h1 {
    font-size: 61px;
    opacity: 0.8;
}

.banner-content p {
    font-size: 14px;
    opacity: 0.5;
    margin-top: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}

.banner-img img {
    width: 100%;
    vertical-align: middle;
}


/* featured related styles */

.featured-content {
    text-align: center;
    margin-top: 130px;
}

.featured-content h1 {
    font-size: 30px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.featured-content p {
    width: 500px;
    margin: auto;
    line-height: 22px;
}

.featured-img {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 130px;
}

.featured-item {
    width: 360px;
}

.flower {
    height: 380px;
    display: flex;
    padding: 0px 0px;
    border-radius: 50% 50% 0% 0%;
    justify-content: center;
    align-items: end;
}

.flower img {
    width: 70%;
    object-fit: contain;
    padding: 0px 0px;
}

.featured-item h3 {
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}


/* support related styles */

.support{
    background-color: #f4f4f4;
}

section.support {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
    border-radius: 10px;
}

.support-item img {
    width: 70px;
}

.support-item {
    text-align: center;
    padding: 50px 0px;
}

.support-item h3 {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0.6;
    font-weight: 400;
}


/* hot deal related styles */

.hot-deal{
    background-color: #fdf6f8;
    margin-bottom: 130px;
}

.hot-deal-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.hot-deal-content {
    text-align: center;
    padding-left: 100px;
}

.hot-deal-content h1 {
    font-size: 30px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.hot-deal-content p {
    margin-bottom: 25px;
}

.hot-deal-img img {
    width: 200px;
}

.hot-deal-img {
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}


/* instagram related styles */

.instagram h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

section.instagram {
    text-align: center;
}

section.instagram p {
    width: 500px;
    margin-top: 20px;
    line-height: 20px;
    margin: auto;
}

.instagram-img {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 130px;
}

.instagram-item img {
    width: 100%;
}